.TodoListMenu{
    position: relative;
    color:#fff;
    background-color: #2c2e40;
    height: 30em;
    padding: 0.8em 2em;
    margin-top: 0.5em;
}
.AddIcon{
    position: absolute;
    right: 1.5em;
    bottom: 0.5em;
    background-color: rgba(63,191, 91, 0.3);
    width: 3em;
    height: 3em;
    border-radius: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}
