.weatherCardMenu{
    position: relative;
    color:#fff;
    background-color: #212121;
    height: 28em;
    padding: 2em;
    margin-top: 1em;
}
.locationName{
    margin-top: 2em;
    font-size: 2.5em;
    font-weight: 700;
    margin-bottom: 0.3em;
}
.observationTime{
    position: absolute;
    font-size: 1em;
    right: 15px;
    bottom: 15px;
    display: inline-flex;
    align-items: flex-end;
    color: #828282;
    margin-bottom: 0.3em;
}
.description{
    font-size: 1em;
    margin-bottom: 0.3em;
}   
.temperature{
    color: #757575;
    font-size: 5em;
    font-weight: 300;
    display: flex;
    margin-bottom: 0.3em;
}
.windSpeed{
    display: flex;
    align-items: center;
    font-size: 1.5em;
    font-weight: 300;
    color: #828282;
    margin-bottom: 0.8em;
}
.windSpeed  svg {
    width: 1.6em;
    height: auto;
    margin-right: 0.9em;
}
.humid{
    display: flex;
    align-items: center;
    font-size: 1.5em;
    font-weight: 300;
    color: #828282;
    margin-bottom: 0.8em;
    
}  
.humid svg {
    width: 2em;
    height: auto;
    margin-right: 0.5em;
}
.weatherIcon{
    position: absolute;
    right:2em;
    top:1em;
}
.weatherIcon img{
    width: 9em;
    height: auto;
}